<div class="row">
  <div class="col-xs-12">
    <h4>{{ message }}</h4>
  </div>
</div>
<!-- <form>
  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
        <input
          id="name"
          class="form-control"
          type="text"
          value="{{ recipe.name || null }}"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-text" id="inputGroup-sizing-sm"
          >Description</span
        >
        <input
          id="description"
          class="form-control"
          type="text"
          value="{{ recipe.desc }}"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-text" id="inputGroup-sizing-sm">Image</span>
        <input
          id="image"
          class="form-control"
          type="text"
          value="{{ recipe.imagePath }}"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-text" id="inputGroup-sizing-sm">About</span>
        <input
          id="about"
          class="form-control"
          type="text"
          value="{{ recipe.description }}"
        />
      </div>
    </div>
  </div>
  <h5>Ingredients</h5>
  <div class="row" *ngFor="let ingredient of recipe.ingredients; let i = index">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-text" id="inputGroup-sizing-sm"
          >Ingredient-{{ i + 1 }}</span
        >
        <input
          id="ingredient"
          class="form-control"
          type="text"
          value="{{ ingredient.name }}--{{ ingredient.amount }}"
        />
      </div>
    </div>
  </div>
  <hr />
  <button class="btn btn-success float-end">Save</button>
</form> -->
